# Deny execution of scripts in uploads
<FilesMatch "\.(php|php\d*|phtml|phar|cgi|pl|py|js)$">
  Deny from all
</FilesMatch>

Options -ExecCGI
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .phps
php_flag engine off


